<html>
    <head>
        <title>Home</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<style>
    .cont{
        background-color: white;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        border-radius: 15px;
        width: 50%;
        box-shadow: 5px 5px 5px #646666 ;
    }
    .caption-top{
        
        border-radius: 10px;
    }
    .littlebtn{
        background-color: white;
        margin: 5px 20px 5px 20px;
        padding: 5px 5px 5px 15px;
        border-radius: 10px;
        border-color: white;
        border: 0;
        width: 10%;
        height: 10%;
        font-weight: 500;
        box-shadow: 5px 5px 5px #646666 ;
    }
    .littlebtn:hover,
.button-18:focus { 
  background-color: #4692A8 ;
  color: #ffffff;
}

    .littlebtn:active {
  background: #4692A8 ;
  color: rgb(255, 255, 255, .7);
}

    .littlebtn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.search{
position: absolute;
width: 20%;
left: 1100px;
top: 100px;

}
.sec{
position: absolute;
left: 800px;
top: 230px;
width: 40%;
}
</style>
    </head>
<body style="background-color: #ECF6F9 ;">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin" style="color: white;">OCP network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: white;" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link " style=" color: white; left: 1450px; position: absolute;" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " style=" color: white; left: 1450px; position: absolute;" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>
<br>
<button onclick="window.location='/myapp/departementview';" class="littlebtn">Departement     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FCF033 " class="bi bi-building" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
</svg></button>
<button onclick="window.location='/myapp/areaview';" class="littlebtn">Technical Area     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FCF033" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg></button>
<button onclick="window.location='/myapp/equipmentview';" class="littlebtn">Equipment     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FCF033" class="bi bi-pc-display" viewBox="0 0 16 16">
  <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
</svg></button>
<button  onclick="window.location='/myapp/contratview';"  class="littlebtn">Contrat    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FCF033" class="bi bi-list-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg></button>
<button onclick="window.location='/myapp/providerview';"  class="littlebtn">Providers   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FCF033" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg></button>   <form >
  {% csrf_token %}
<div  class="input-group mb-3 search" >

  <input  class="form-control" type="search" placeholder="Search" aria-label="Search">
  <button class="btn" style="background-color: #4692A8 ; color: white;"  type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button></div>
</form>

<br><br>
<div class="cont">
<h2><b>Equipment List</b></h2>

<br>

<table class="table caption-top" style="border-radius: 10px;">
    <tr  >
        <td><b>ID</b></td>
        <td><b>SN</b></td>
        <td><b>Marque</b></td>
        <td><b>IP</b></td>
        <td><b>Ismaintenu</b></td>
        <td><b>Issupporte</b></td>
        <td><b>Type</b></td>
        <td><b>Local</b></td>
    </tr>
{% for x in eqs %}

<tr>
<td>{{ x.id }}</td>
<td>{{ x.sn }}</td>
<td>{{ x.marque }}</td>
<td>{{ x.ip }}</td>
<td>{{ x.ismaintenu }}</td>
<td>{{ x.issupporte }}</td>
<td>{{ x.type }}</td>
<td>{{ x.local }}</td>
<td><a href="deleteeq/{{ x.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FA5365" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg></a></td>
  <td><a href="updateeq/{{ x.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FAA44E " class="bi bi-pen" viewBox="0 0 16 16">
    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
  </svg></a></td>
</tr>
{% endfor %}
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
   
  

{% if eqs.has_previous %}
<li class="page-item"> <a class="page-link" href="?page=1">&laquo First </a></li>
<li class="page-item">  <a class="page-link" href="?page={{ eqs.previous_page_number }}"> Previous </a></li>
{% endif %}
<li class="page-item disabled"><a class="page-link" >Page {{ eqs.number }} of {{ eqs.paginator.num_pages }}</a></li>

  {% if eqs.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ eqs.next_page_number }}"> Next </a></li>
  <li class="page-item"><a class="page-link" href="?page={{ eqs.paginator.num_pages }}">Last  &raquo </a></li>
{% endif %}
</ul>
</nav>
</div>
<div class="cont sec">
  <form action="addrecordeq/" method="post">
    {% csrf_token %}
    <h4><b>New Equipment</b></h4>
    <div class="mb-3">
    <label><b>SN</b></label>
    <input type="text" class="form-control" name="sn">
    <label><b>Marque</b></label>
    <input type="text" class="form-control" name="marque">
    <label><b>IP</b></label>
    <input type="text" class="form-control"  name="ip">
    <label><b>Is maintenu</b></label>
    <select name="ismaintenu" class="form-select">
      <option selected value="True">True</option>
      <option value="False">False</option>
    </select>
    <label><b>Is supporte</b></label>
    <select name="issupporte" class="form-select">
      <option selected value="True">True</option>
      <option value="False">False</option>
    </select>
    <label><b>Type</b></label>
    <input type="text" class="form-control"name="type">
    <label><b>Local</b></label>
  
    <select name="local"class="form-select" aria-label="Default select example">
      
      {% for x in myareas %}
      <option >{{ x.nameL }}</option>
      {% endfor %}
    </select>
    <button onclick="window.location='addeq';" class="btn" style="background-color: #4692A8 ; color: white;" type="submit"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>  Add</b></button></div>
</form>

</div>

</body>
</html>